find me in dashboard#index.html.erb

<p id="notice"><%= notice %></p>



<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Recording date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @videos.name %></td>
        <td><%= @videos.recording_date %></td>
        <video controls>
          <source src="<%= url_for(@videos.stream_recording_video) %>">
        </video>

        <td><%= link_to 'Show', @videos %></td>

      </tr>
  </tbody>
</table>

<br>
