<%= form_with(model: video, html: { data: { controller: "upload-progress" } }) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :recording_date %>
    <%= form.date_select :recording_date %>
  </div>


  <div class="field">


      <%= form.label :stream_recording_video %>
      <%= form.file_field :stream_recording_video %>

  </div>


  <div class="actions">
    <%= form.submit "Save & Upload", data: { action: "click->upload-progress#showProgress" }, enctype: "multipart/form-data" %>
  </div>



<% end %>
